<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.albatimemanagement">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".employee.EmployeeAccountFindCompanyActivity"/>
        <activity android:name=".inheritance.InheritanceCalenderAddSchedulePopupActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".employee.EmployeeSettingActivity" />
        <activity android:name=".inheritance.InheritanceSettingActivity" />
        <activity android:name=".inheritance.InheritanceAddCompanyActivity" />
        <activity android:name=".inheritance.InheritanceCalenderActivity" />
        <activity android:name=".employee.EmployeeCalenderActivity" />
        <activity android:name=".employee.ScheduleChangePopUpActivity" />
        <activity android:name=".inheritance.InheritanceAccountActivity" />
        <activity android:name=".employee.EmployeeAccountActivity" />
        <activity android:name=".JoinInActivity" />
        <activity android:name=".employee.EmployeePayCheckActivity" />
        <activity android:name=".inheritance.InheritancePayCheckActivity" />
        <activity android:name=".inheritance.InheritancePayCheckSelectActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>